.lumia-crontab-generate-layout {
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    gap: 20px 10px;
    align-items: center;
}
.lumia-crontab-generate-layout .lumia-input input {
    text-align: center;
}
.lumia-crontab-generate-layout .lumia-input {
    width: 60px;
}
.lumia-crontab-generate-layout .lumia-checkbox .lumia-bool{
    height: 24px;
}
